body,html{
    height:100%;
}
body{
    margin:0;
    padding:0;
}
body,html,div.app-wrapper,
div.ui.container.main,div.ui.card,
div.ui.card > div.content.chart,
div.ui.grid.main > div.column.wide{
    display:flex;
    flex:1 1;
    flex-flow: column;
    overflow: auto;
}
div.ui.container.main{
    width: 97%!important;
    margin: 0;
    flex-direction: row;
}
div.ui.grid.main > div.column.wide{
    justify-content: space-between;
    display: flex!important;
    flex: unset;
}
div.ui.card > div.content.title,
div.ui.card > div.content.settings{
    height: 50px;
}

#sensorChart{
    display:flex;
}
#storagebar{
    margin:0 0 1.7em;
}
#storagebar > div.label{
    top:0%;
}
div.ui.grid.device > div.row > .column{
    text-align: center;
}

@media only screen and (max-width: 767px) {
    div.ui.card > div.content.title,
    div.ui.card > div.content.settings{
        max-height:50px;
        overflow:auto;
    }
    div.ui.card > div.content.title > div.grid > div.row > div.wide.column{
        padding:10px !important;
    }
}

@media only screen and (max-width: 1544px) and (min-width: 767px) {
    div.ui.card > div.content.title{
        display: none;
    }
}